.Card {
    display: flex;
    width: 650px;
    padding-bottom: 17px;
    border-bottom: #eaebea solid 2px;
    margin-bottom: 17px;
    &_Button {
        background-color: salmon;
        border-radius: 10px;
        border: none;
        height: 25px;
        color: white;
        &:hover {
            cursor: pointer;
        }
    }
}
