.ChickenRecipes {
  padding: 50px;

  border-bottom: 1px solid lightgrey;

  &__container {
    width: 660px;
  }

  &__topSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
